<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emoticon.editmodule">

    <application>
        <activity android:name=".activity.FinishActivity"
            android:label="保存图片"/>
    </application>

</manifest>
