<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emoticon">

    <uses-sdk tools:overrideLibrary="com.zhouwei.mzbanner,com.cy.cyflowlayoutlibrary" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut"
                />
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="搜索" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/preferences" />
        <activity android:name=".activity.EmoticonTypeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity
            android:name=".activity.EmoticonAddActivity"
            android:label="添加表情" />
        <activity
            android:name="com.example.emotion.user.activity.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name="com.example.emotion.user.activity.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".activity.SpecificActivity"
            android:label="@string/search_emoticons" />
        <activity
            android:name=".editmodule.activity.EditActivity"
            android:label="@string/add_emoticon" />
        <activity
            android:name="com.example.emotion.user.activity.UserEmoticonsActivity"
            android:label="@string/my_emoticon" />
        <activity android:name="com.example.emotion.user.activity.UserInfoActivity"
            android:label="@string/my_profile"/>
    </application>
</manifest>